// $small: 576px;
// $medium: 768px;
// $large: 1024px;
// $extra-large: 1200px;


// Mixins for different screen sizes
@mixin x-small {
  @media (max-width: $small) {
    @content;
  }
}

@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

@mixin max-large {
  @media (max-width: $large) {
    @content;
  }
}


@mixin extra-large {
  @media (min-width: $extra-large) {
    @content;
  }
}

@mixin max-extra-large {
  @media (max-width: $extra-large) {
    @content;
  }
}

// Mixin for text overflow
@mixin ellipsis($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  text-overflow: ellipsis;
  white-space: normal;
}