// Breakpoints

// Different screen size variables
$small: 576px;
$medium: 768px;
$large: 1024px;
$extra-large: 1200px;

// Color variables
$primary: #0077B6;
$secondary: #666666;
$dark: #343148FF;

$link-decoration: none;

// Navbar variables
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;